.header{
    position:relative;
    background-color: darkgrey;
    height: 70px;
}

.language{
    position: absolute;
    top: 24px;
    right:10px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    height: 50px;
}

.WelcomeScreenFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}