.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    margin-right: 40px; 
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.image{
    width: 100px;
    height: 100px;
    margin-top: 8px;
    margin-right: 20px;
}