.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 70px 100px ;
}

.textContainer{
    margin: 0px 100px 70px 100px
}

.firstTextBlock{
    margin-bottom: 40px;
}

h4{
    margin-top: 10px;
}

hr{
    margin-top: 15px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkgrey;
    height: 70px;
}
.headerDots{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
}

.blueDot{
    color: white;
    text-align: center;
    line-height: 31px;
    background-color: #002B45;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-bottom: 2px;
}

.triangle{
    display: flex;
    flex-direction: column;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    margin-top: 5px;
    margin-left: 7px;
}