/* card */
.card{
    display: flex;
    align-items: center;
    max-width: 400px;
    text-align: center;
}

.imageCard{
    width: 250px;
    height: 250px;
}

/* checkbox */
.checkboxContainer{
    display: flex;
    flex-direction: row;
}

/* footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin: 40px 100px 
}

/* headerLayout */
.headerLayout{
    margin-bottom: 40px;
}

/* input */
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
}

.inputImage{ 
    position: absolute;
    left: -20px;
    width: 35px;
    height: 35px;

}

/* modal */
.feedback{
    position: relative;
    transform: translate(0%, 150%);
}

.modal{
    position: absolute;
    width: 95vw;
    height: 95vw;
    top: 10px;
    left: 35px;
    background-color: white;
    z-index: 100;
}