.blueDot{
    color: white;
    text-align: center;
    line-height: 31px;
    background-color: #002B45;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-bottom: 2px;
}

.blueDot3{
    color: white;
    text-align: center;
    line-height: 24px;
    background-color: #4c5c67;
    height: 25px;
    width: 25px; 
    border-radius: 50px;
    margin-top: 3px;
}
.correct{
    color: green;
    font-size: 10px;
}

.error{
    color: red;
    font-size: 10px;
}

.footerForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin: 40px 100px 
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.formInputs{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkgrey;
    height: 70px;
}

.headerDots{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
}

.length{
    font-size: 10px;
}

.redDot{
    color: white;
    text-align: center;
    line-height: 24px;
    background-color: #D41E3F;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin-top: 3px;
}

.redDotImage{
    height: 35px;
    width: 35px;
    position: relative;
    left:-5px;
    top: -3px;
}

.singleInput{
    margin-right: 20px;
    margin-top: -30px;
}

.singleInput img{
    position: relative;
    left: 260px;
    top: 56px;
    height: 30px;
} 

textarea {
    width: 100%;
    height: 40px;
    padding-top: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.triangle{
    display: flex;
    flex-direction: column;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    margin-top: 5px;
    margin-left: 7px;
}